# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
*.apk
*.ipa

# Firebase
.env
.env.local
firebaseConfig.json
serviceAccountKey.json
google-services.json

# Web
web/node_modules/
web/dist/
web/.env.local
web/.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Project
node_modules/
dist/
